.goal-list li {
    list-style: none;
    border: 1px solid gray;
    padding: 1rem;
    margin: .6rem 0rem;
    font-size: 19px;
    font-weight: 500;
}
.goal-list .active,.goal-list li:hover {
    background: purple;
    color: white;
}