.form-group{
    height: 2rem;
    margin-top: 1rem;
}
.form-group input , .form-group button{
    height: 100%;
}
.form-group button{
    padding: 0px 5px;
    margin-left: 5px;
    background: purple;
    color: white;
    outline: none;
    border: none;
    font-weight: 600;
}